h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0 !important;
}

.character-list {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 3px !important;
}

.character {
  margin-top: 30px !important;
}

.character ul {
  margin-left: 0px !important;
}

.attributes {
  margin-top: 0 !important;
  padding-top: 8px !important;
  padding-left: 0;
  margin-left: 0;
}

ul.attributes {
  list-style-type: none;
}

.attributes li {
	margin: 0 !important;
	padding: 5px 0 5px 50px !important;
	background-image: url('https://cdn.pixabay.com/photo/2017/06/03/18/21/star-wars-2369317_960_720.png');
	background-repeat: no-repeat !important;
	background-position: left center !important;
  background-size: 40px !important;
}